/* variable definition */
:root {
    /* Color  */
    --white-color:#fff;
    --black-color:#140a00;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --grey-dark-color:#909090;
    --grey-light-color:#e0e0e0;
    /* Size */
    --padding:12px;
    --avatar-size:36px;
    /* Font Size */
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}

* {
    padding:0;
    margin:0;
    /* 박스사이징시 패딩,마진이 포함되도록 결정 */
    box-sizing: border-box; 
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;
}

/* 버튼모양설정, 테두리, 외곽선해재, 커서는 포인터 */
button, 
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}

/*  Header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color:var(--red-color)
}

header .icons .fa-search {
    margin-right: var(--padding);
}

/* Video player */
.player {
    /* 위치 고정, top 0 위치에.. */
    position: sticky;
    top: 0; 
    text-align: center;
    background-color: var(--black-color);
}
.player video{
    width: 100%;
    height: 100%;
    max-width: 500px;
}

body > .info {
    padding: var(--padding);
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color)
}
 
.info .metadata .hashtags li {
    margin-left: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: var(--font-large);
    /* 출력 라인수를 2줄로 제한..  */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
} 

.info .metadata .titleAndButton .moreBtn {
    /*  버튼 위에 위치 */
    height: 100%;
}

.info .view {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.actions {
    display: flex;
    justify-content: space-evenly;
    margin: var(--padding) 0;
}

.actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-large);
    color: var(--grey-dark-color);
}

.actions button i {
    margin:0 auto;
    margin-bottom: calc(var(--padding)/2);
    font-size: 16px;
}

.actions button i.active {
    color: var(--blue-color);
}

.channel {
    display: flex;
    /* 양 끝에 배치 */
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}
.channel .metadata {
    display: flex;
    align-items: center;
}

.channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}
.channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.channel .metadata .info .name {
    font-size: var(--font-medium);
}

.channel .metadata .info .subscriber {
    font-size: var(--font-small);
    color:var(--grey-dark-color);
}

.channel .subscribe {
    text-transform: uppercase;
    color:var(--red-color);
    font-size: var(--font-medium);
}

.upnext {
    padding:0 var(--padding);
}

/* upnex 바로 밑에있는 자식에게만 적용 (title )_*/
.upnext > .title {
    font-size: var(--font-medium);
    color:var(--grey-dark-color);
    margin-bottom: calc(var(--padding)/2);
}

/* item 내의 엘리먼트는  가로 배치 */
.upnext .item {
    display: flex;
    margin-top: var(--padding);
}

/* item내의 img 크기는 전체 영역의 35%  */
.upnext .item .img {
    flex: 1 1 20%;
    margin-right: var(--padding);
}

/* item내의 info 크기는 전체 영역의 60%  */
.upnext .item .info {
    flex: 1 1 75%;
}
/* item내의 moreBtn 크기는 전체 영역의 5%  */
.upnext .item .moreBtn {
    height: 100%;
    flex: 1 1 5%;
}
/* item내의 img 크기는 전체 영역의 35% 에 맞도록 이미지 크기지정  */
.upnext .item .img img {
    width:80%;
}

.upnext .item .info {
    display: flex;
    /* 세로로 정렬 */
    flex-direction: column; 
}

.upnext .item .info .name ,
.upnext .item .info .views {
    font-size: var(--font-small);
    color:var(--grey-dark-color);
}

.infoAndUpnext {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .infoAndUpnext {
        flex-direction: row;
        margin:var(--padding) 0;
    }
    
    .infoAndUpnext .info {
        flex: 1 1 50%;
    }
    .infoAndUpnext .upnext {
        flex: 1 1 50%;
    }
}